<div class="row">
    <div class="col-md-12">
        <h2>Admin - Dashboard</h2>

        <table class="table">
            <thead>
                <tr>
                    <th>Total Clientes</th>
                    <th>Total Fotos</th>
                    <th>Total Administradores</th>
                    <th>Total Ordenes</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><%=clientes%></td>
                    <td><%=fotos%></td>
                    <td><%=administradores%></td>
                    <td><%=ordenes%></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>